# when running the stack via docker-compose, this file is automatically parsed
# via https://github.com/a8m/envsubst/ to produce `secrets.yml` for the Django application.

db:
  name: ${POSTGRES_DB:-connectivity_db}
  user: ${POSTGRES_USER:-dj_hetmech}
  password: ${POSTGRES_PASSWORD}
  host: ${POSTGRES_HOST}
  port: ${POSTGRES_PORT:-5432}

##################################################################
#     Optional Django settings
##################################################################
# `SECRET_KEY` defaults to 'secret_not_yet_set' in `settings.py`.
# For production server, set it to a long random string.
SECRET_KEY: ${DJANGO_SECRET_KEY}

# `DEBUG` defaults to True in `settings.py`.
# For production server, set it to False.
DEBUG: ${DJANGO_DEBUG:-True}
